@charset "UTF-8";
.galeria {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.fotoCategoria{
    width: 100%;
}

.boxGaleria{
    position: relative;
    text-align: center;
}

.boxGaleriaTexto{
    text-indent: 10%;
    font-family: "Open Sans";
    color: rgb(58, 48, 48);
    font-size: 220%;
    letter-spacing: 2px;
}
.boxGaleriaTexto a{
    text-decoration:none;
}

.boxGaleriaMargem{
    margin: 2%;
    border: 1px solid rgb(73, 71, 71);
    border-radius: 2%;
}

.boxGaleriaMargem:hover{
    cursor: pointer;
    transition: 0.5s;
    filter: opacity(60%);
    filter: brightness(40%);
}

@media screen and (max-width: 980px){
    .boxGaleriaTexto{
        font-size: 150%;
    }
}

@media screen and (max-width: 600px){
    .boxGaleriaTexto{
        font-size: 100%;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
    
    }
}

@media screen and (max-width: 450px){
    .galeria {
        grid-template-columns: 1fr;
    
    }
}


#emailUser{
    color: white;
    
}
